numpy
streamlit
requests
openai-whisper
gTTS
pydub
numpy
faiss-cpu
chromadb
beautifulsoup4
tqdm
PyPDF2
pdfplumber
pypdf
sentence-transformers
urllib3
certifi
torch
streamlit-audiorecorder
cerebras-cloud-sdk
pydub
gtts
python-dotenv
crawl4ai
langchain
langchain-community
langchain-core
pytesseract
camelot-py[cv]
flask
flask-socketio
python-socketio
eventlet