streamlit==1.33.0
requests==2.31.0
openai-whisper
gTTS==2.5.1
pydub==0.25.1
numpy==1.26.4
faiss-cpu==1.7.4
chromadb==0.4.24
beautifulsoup4==4.12.2
tqdm==4.66.1
PyPDF2==3.0.1
pdfplumber==0.10.2
pypdf==4.0.1
sentence-transformers==2.2.2
urllib3==2.0.7
certifi==2023.7.22
torch
streamlit-audiorecorder
cerebras-cloud-sdk
openai-whisper
pydub
gtts
python-dotenv